.DS_Store
*/xcshareddata/swiftpm/Package.resolved
*.xcuserstate
*/xcuserdata/
.DS_Store
*/xcshareddata/swiftpm/Package.resolved
*.xcuserstate
*/xcuserdata/
.DS_Store
*/xcshareddata/swiftpm/Package.resolved
*.xcuserstate
*/xcuserdata/
